html {
    font-family: 'Muli', sans-serif;
}

#grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
    height: 40em;
}


#left-side {
    text-align: center;
}

#right-side {
    right: 0;
    top: 0;
    height: 100%;
    background-image: url(https://s-media-cache-ak0.pinimg.com/564x/cd/44/f4/cd44f4373fbbf40adabe9e01ac68f5c2.jpg);
    opacity: 0.6;
    background-color:#e1aa41;
    box-shadow: -0.3em 0em 0.2em rgba(23, 22, 22, 0.35);
}

#convert {
    margin-top: 2em;
/*    background-color: #0fa047;*/
    border-radius: 0.5em;
    color: #ffffff;
    width: 10em;
    height: 3em;
    font-size: 18pt;
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
}
/*
#convert:hover {
    background-color: #00ff9d;
}
*/

#input-box {
    border: 0.1em solid black;
    padding: 0 0 4em 0;
    margin: 3em;
}

input {
    height: 3em;
    font: 12pt;
    font-size: 15pt;
    text-align: center;
    box-shadow: inset 0 0 0.6em rgba(0, 0, 0, 0.32);
}

#message {
    color: aliceblue;
    text-align: center;
    margin: 20% 0 0 0;
    font-size: 90pt;
    text-shadow: 5pt 3pt 5pt red;
    text-transform: 
}


