html {
    font-family: 'Muli', sans-serif;
    height: 100%;
}

#grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
    height: 100%;
}


#left-side {
    text-align: center;
}

#right-side {
    right: 0;
    top: 0;
    height: 100%;
    background-image: url(https://s-media-cache-ak0.pinimg.com/564x/2b/ec/0c/2bec0c338b27ee0e979f876e78e89ace.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.6;
    background-color:#e1aa41;
    box-shadow: -0.3em 0em 0.2em rgba(23, 22, 22, 0.35);
}

#convert {
    margin-top: 2em;
/*    background-color: #0fa047;*/
    border-radius: 0.5em;
    color: #ffffff;
    width: 10em;
    height: 3em;
    font-size: 18pt;
    animation-name: color-change-reg;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes color-change-cool {
    from {background-color: blue;}
    to {background-color: #0505b2;}
}

@keyframes color-change-reg {
    from {background-color: green;}
    to {background-color: #064306;}
}

@keyframes color-change-warm {
    from {background-color: red;}
    to {background-color: #890404;}
}

/*
#convert:hover {
    background-color: #00ff9d;
}
*/

#input-box {
    border: 0.1em solid black;
    padding: 0 0 4em 0;
    margin: 3em;
}

input {
    height: 3em;
    font: 12pt;
    font-size: 15pt;
    text-align: center;
    box-shadow: inset 0 0 0.6em rgba(0, 0, 0, 0.32);
}

#message {
    color: aliceblue;
    text-align: center;
    margin: 20% 0 0 0;
    font-size: 70px;
    text-shadow: 5pt 3pt 5pt #0f430f;
    text-transform: 
}


